/* App Container Base */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  color: var(--text-main);
  position: relative;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
